footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 15px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

:root

.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



.footer-icons__img {
  width: 40px;
}

@keyframes icons-moving {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img:hover {
  animation: icons-moving 1s ease-in-out infinite;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px 0 20px;
  cursor: pointer;
}

.footer-icons__text {
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
}
