main {
  padding: 30px 20px 30px 20px;
}

.items-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0 40px 0;
  border-bottom: 1px solid #ededef;
}

.items-list__img img {
  width: 200px;
  border: 1px solid gray;
  border-radius: 16px;
  margin-right: 40px;
}

.items-list__info {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.items-list__info div {
  margin-bottom: 20px;
}

.items-list__info-title {
font-size: 20px;
font-weight: 500;
}

.items-list__info-meta {
  font-size: smaller;
  color: rgba(0,0,0,0.3);
}

.items-list__info-price {
  font-size: 25px;
  font-weight: bold;
}

.write-btn {
  position: fixed;
  bottom: 140px;
  right: 20px;
  background-color: #fe6f00;
  padding: 12px 20px 12px 20px;
  color: white;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}



